h1 {
  font-size: 36px;
  max-width: 800px;
  line-height: 40px;
  margin: auto;
  color: tomato;
  border-color: black;
}

.calculator-app{
  max-width: 800px;
  margin: auto;
  color: black;
  border-color: black;
}


.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color:yellow;
}

.result {
  height: 60px;
  background-color:yellow;
  width: 100%;
  background-color: rgb(252, 206, 5);
  border-color: black;
}

.result p {
  font-size: 40px;
  margin: 5px;

}